<!DOCTYPE html>
<html lang="es">

<head>
  <title>YJOT DEV | APP TURISMO EL GUABO</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/webp" href="../assets/icons/logo.webp">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div id="header"></div>

  <div id="traductor" style="display:none;"></div>

  <main>
    <h2 class="titulo">APP TURISMO EL GUABO</h2>

    <section>
      <h3 class="subtitulo">Descripción general</h3>
      <div class="contenedor">
        <article class="perfil">
          <p>
            ATEG es una aplicación móvil diseñada para explorar los principales centros turísticos de la
            ciudad de El Guabo, Ecuador. El objetivo principal es ofrecer a los usuarios una herramienta
            intuitiva y directa para descubrir y obtener información sobre los puntos de interés locales,
            utilizando la API de Google Maps como base para una experiencia de navegación interactiva.
          </p>
        </article>
      </div>
    </section>

    <section>
      <h3 class="subtitulo">Uso de la aplicación</h3>
      <div class="contenedor">
        <article class="perfil">
          <p>
            El flujo de uso de la aplicación está diseñado para ser sencillo y eficiente, guiando al usuario
            a través de los siguientes pasos:
          </p>
          <ol>
            <li>
              <strong>Exploración en el Mapa Interactivo:</strong>
              Al abrir la aplicación, el usuario es recibido con una vista de mapa centrada en la ciudad
              de El Guabo.
              Sobre el mapa se despliegan múltiples marcadores que representan los diferentes destinos
              turísticos disponibles en la zona.
              Esta pantalla inicial permite al usuario tener una visión geográfica completa de los lugares
              de interés a su alrededor.
            </li>
            <li>
              <strong>Identificación y Selección del Destino:</strong>
              El usuario puede interactuar libremente con el mapa.
              Al hacer un solo clic sobre cualquiera de los marcadores, se muestra el nombre del lugar
              turístico, permitiendo una rápida identificación sin salir de la vista principal.
            </li>
            <li>
              <strong>Acceso a la Información Detallada:</strong>
              Si un lugar capta el interés del usuario, un segundo clic sobre el mismo marcador lo
              redirige a una nueva pantalla.
              Esta vista de <em>Información</em> está dedicada exclusivamente a proporcionar detalles
              sobre el sitio seleccionado, como su descripción, historia y otros datos relevantes,
              acompañados de imágenes representativas.
            </li>
          </ol>
        </article>
      </div>
    </section>

    <section>
      <h3 class="subtitulo">Acceso a la aplicación</h3>
      <div class="contenedor">
        <div class="tabla-1">
          <div class="item-de-tabla">
            <a class="icono clickable" href="https://github.com/yjot-dev/Rep-ZonasTuristicasElGuabo/tree/v2"
              target="_blank">
              <img class="acceso-apps" src="../assets/icons/github.svg" alt="GitHub">
            </a>
            <span>Ver código en Github</span>
          </div>
          <div class="item-de-tabla">
            <a class="icono clickable" href="https://youtu.be/cLXHV31xcgo" target="_blank">
              <img class="acceso-apps" src="../assets/icons/video.svg" alt="Video demo">
            </a>
            <span>Ver video demo en Youtube</span>
          </div>
          <div class="item-de-tabla">
            <a class="icono clickable"
              href="https://play.google.com/store/apps/details?id=com.yjotdev.zonasturisticaselguabo" target="_blank">
              <img class="acceso-apps" src="../assets/icons/play_store.svg" alt="Play Store">
            </a>
            <span>Descargar app en Google Play</span>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div id="footer"></div>

  <script type="text/javascript" src="../js/logic.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      loadInclude("header", "../includes/header.html", { coverImage: "../assets/apps/ateg.webp" });
      loadInclude("footer", "../includes/footer.html");
    });
  </script>
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
</body>

</html>