<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YJOT DEV</title>
    <link rel="icon" type="image/png" href="../assets/icons/logo.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="header"></div>

    <div id="traductor" style="display:none;"></div>

    <main>
        <h2 class="titulo">EMPRENDIMIENTO PRIMARIA</h2>

        <section>
            <h3 class="subtitulo">Descripción general</h3>
            <div class="contenedor">
                <article class="perfil">
                    <p>
                        EMP es una aplicación móvil educativa y gamificada, diseñada para enseñar conceptos
                        fundamentales de emprendimiento a través de una experiencia interactiva y progresiva. El
                        objetivo principal es motivar al usuario a aprender mediante lecciones estructuradas y
                        ejercicios prácticos, mientras sigue su progreso y gestiona su perfil de aprendizaje.
                    </p>
                </article>
            </div>
        </section>

        <section>
            <h3 class="subtitulo">Uso de la aplicación</h3>
            <div class="contenedor">
                <article class="perfil">
                    <p>
                        El flujo de uso de la aplicación está diseñado para ser intuitivo y completo, guiando al usuario
                        a través de los siguientes pasos:
                    </p>
                    <ol>
                        <li>
                            <strong>Acceso y Gestión de Cuenta:</strong>
                            Al iniciar la aplicación, el usuario se encuentra con una pantalla de Login clara y
                            funcional.
                            Desde aquí, tiene tres opciones directas:
                            <ul>
                                <li><strong>Iniciar Sesión:</strong> Los usuarios existentes pueden acceder a su
                                    perfil de forma segura ingresando su nombre de usuario o correo electrónico junto
                                    con su contraseña. Actualmente esta app cuenta con dos usuarios, el primero es un
                                    usuario de pruebas para fines de desarrollo y revision por parte de Google y el 
                                    segundo es un usuario invitado con permisos limitados para que cualquier persona 
                                    pueda probar la app sin necesidad de crear una cuenta. Las credenciales del usuario 
                                    invitado son <strong>usuario:</strong> Invitado y <strong>clave:</strong> Invitado1000
                                </li>
                                <li><strong>Registrarse:</strong> Los nuevos usuarios son dirigidos a una
                                    vista dedicada donde pueden crear su cuenta, proporcionando un nombre de usuario (mínimo 3 caracteres, 
                                    solo letras minúsculas y mayúsculas), un correo electrónico válido y una contraseña 
                                    (mínimo 8 caracteres, una letra, un número y no permite caracteres especiales). 
                                    El usuario ingresa su correo electrónico para recibir un código de verificación único. 
                                    Tras validar dicho código, se crea la cuenta.
                                </li>
                                <li><strong>Recuperar Clave:</strong> En caso de olvido, el sistema ofrece una función
                                    de recuperación segura. El usuario ingresa su correo electrónico para recibir un
                                    código de verificación único. Tras validar dicho código, puede establecer una nueva
                                    contraseña y restaurar el acceso a su cuenta sin complicaciones.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Navegación en el Menú Principal: </strong>Una vez autenticado, el usuario accede al núcleo de la aplicación, 
                            que presenta una barra de navegación superior con cuatro secciones principales, cada una ofreciendo una funcionalidad 
                            clave:
                            <ul>
                                <li>
                                    <strong>Gestión del Perfil de Usuario:</strong>
                                    Una vez que el usuario ha iniciado sesión correctamente, es dirigido a una vista de
                                    Usuario personalizada.
                                    Esta sección funciona como su panel de control personal y le permite realizar las
                                    siguientes acciones:
                                    <ul>
                                        <li><strong>Actualizar Datos:</strong> El usuario tiene control total para
                                            modificar su información personal, incluyendo su nombre, correo electrónico, foto de
                                            perfil y contraseña. Para realizar esta accion, el usuario debera verificar un codigo 
                                            enviado a su correo electrónico para garantizar la seguridad de su cuenta.
                                        </li>
                                        <li><strong>Cerrar Sesión:</strong> Permite salir de la sesión actual de forma
                                            segura, volviendo a la pantalla de inicio de sesión.
                                        </li>
                                        <li><strong>Eliminar Cuenta:</strong> Ofrece la opción de eliminar permanentemente su
                                            cuenta del sistema si así lo desea. Para realizar esta accion, el usuario debera verificar 
                                            un codigo enviado a su correo electrónico para garantizar la seguridad de su cuenta.
                                        </li>
                                    </ul>
                                </li>
                                <li><strong>Módulos Educativos (Unidades):</strong> El corazón del aprendizaje. En esta
                                    vista, el usuario avanza a través de lecciones estructuradas sobre emprendimiento.
                                    El contenido se presenta mediante ejercicios gamificados como verdadero/falso,
                                    completar oraciones y emparejar conceptos, obteniendo un puntaje al finalizar cada
                                    nivel.
                                </li>
                                <li><strong>Proyectos Prácticos:</strong> Para inspirar la acción, esta sección ofrece
                                    una lista de ideas de proyectos de emprendimiento. Cada proyecto incluye información
                                    detallada que sirve como guía y ejemplo para que el usuario pueda empezar a
                                    conceptualizar su propio negocio.
                                </li>
                                <li><strong>Progreso y Feedback (Puntaje):</strong> Esta vista funciona como un panel de
                                    control del rendimiento del usuario. Muestra métricas clave como el puntaje total
                                    acumulado, el tiempo total de estudio en la app y el porcentaje de avance del curso.
                                    Además, incluye una función para que el usuario pueda enviar sus opiniones o
                                    sugerencias directamente al desarrollador.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </article>
            </div>
        </section>

        <section>
            <h3 class="subtitulo">Acceso a la aplicación</h3>
            <div class="contenedor">
                <div class="tabla-1">
                    <div class="item-de-tabla">
                        <a class="icono clickable" href="https://github.com/yjot-dev/Rep-EMP/tree/v3-test"
                            target="_blank">
                            <img class="acceso-apps" src="../assets/icons/github.svg" alt="GitHub">
                        </a>
                        <span>Ver código en Github</span>
                    </div>
                    <div class="item-de-tabla">
                        <a class="icono clickable" href="https://youtu.be/8ceBytM3tVI" target="_blank">
                            <img class="acceso-apps" src="../assets/icons/video.svg" alt="Video demo">
                        </a>
                        <span>Ver video demo en Youtube</span>
                    </div>
                    <div class="item-de-tabla">
                        <a class="icono clickable" href="https://play.google.com/store/apps/details?id=com.yjotdev.empprimaria" target="_blank">
                            <img class="acceso-apps" src="../assets/icons/play_store.svg" alt="Play Store">
                        </a>
                        <span>Descargar app en Google Play</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script type="text/javascript" src="../js/logic.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            loadInclude("header", "../includes/header.html", { coverImage: "../assets/apps/emp.png" });
            loadInclude("footer", "../includes/footer.html");
        });
    </script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
</body>

</html>