<!DOCTYPE html>
<html lang="es">

<head>
  <title>YJOT DEV | POLÍTICA DE PRIVACIDAD</title>
  <meta name="description" content="Política de privacidad de Yasser Ortiz T. alias YJOT DEV. Información sobre recopilación, uso y protección de datos de usuarios en aplicaciones.">
  <meta name="keywords" content="Yasser Ortiz T., YJOT DEV, desarrollador Android, portafolio, política de privacidad, datos de usuarios, recopilación de información, uso de datos, protección de datos, aplicaciones móviles">
  <meta name="author" content="Yasser Ortiz T.">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/webp" href="../assets/icons/logo.webp">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div id="header"></div>

  <div id="traductor" style="display:none;"></div>

  <main>
    <h2 class="titulo">POLÍTICA DE PRIVACIDAD</h2>

    <section>
      <h3 class="subtitulo">Última actualización</h3>
      <div class="contenedor">
        <p class="texto-privacidad"><strong>Fecha: </strong>27/03/2026</p>
        <p class="texto-privacidad">Esta política de privacidad describe cómo se recopila, utiliza y protege la información de los usuarios en
          las aplicaciones desarrolladas por YJOT-DEV.</p>
        <div>
          <h3 class="texto-privacidad">Información que recopilamos</h3>
          <p class="texto-privacidad">Dependiendo de la funcionalidad de cada aplicación, podemos recopilar:</p>
          <ul class="listas-privacidad">
            <li class="texto-privacidad"><strong>Información personal:</strong> Nombre, correo electrónico o número de teléfono, solo si el
              usuario la proporciona voluntariamente.</li>
            <li class="texto-privacidad"><strong>Datos de uso:</strong> Tipo de dispositivo, sistema operativo, duración de uso, funciones
              utilizadas dentro de la app.</li>
            <li class="texto-privacidad"><strong>Ubicación:</strong> Si la aplicación requiere servicios basados en ubicación, se solicitará
              permiso explícito.</li>
            <li class="texto-privacidad"><strong>Cámara:</strong> Si la aplicación requiere tomar fotografías o videos, se solicitará permiso
              explícito y el acceso se limitará al uso dentro de la app, sin almacenamiento externo ni compartición con
              terceros.</li>
            <li class="texto-privacidad"><strong>Galería:</strong> Si la aplicación requiere seleccionar imágenes o archivos multimedia desde
              la galería del dispositivo, se solicitará permiso explícito y el acceso será únicamente de lectura, sin
              modificar ni eliminar contenido.</li>
            <li class="texto-privacidad"><strong>Almacenamiento interno:</strong> Si la aplicación requiere acceder a archivos internos, se
              solicitará permiso explícito y el acceso será únicamente de lectura, sin alterar ni compartir los
              archivos.</li>
            <li class="texto-privacidad"><strong>API de Gmail:</strong> Algunas aplicaciones utilizan la API de Gmail de Google exclusivamente
              para enviar correos electrónicos transaccionales desde nuestra propia cuenta hacia los usuarios, ademas el
              único permiso solicitado a través de esta API es gmail.send, destinado exclusivamente al envío de correos
              electrónicos transaccionales. No se accede, almacena ni comparte información de las cuentas de correo
              de los usuarios.</li>
            <li class="texto-privacidad"><strong>APIs de Geocoding y Maps:</strong> Algunas aplicaciones utilizan servicios de Google Maps y
              Geocoding únicamente para mostrar mapas, calcular ubicaciones o rutas, sin almacenar ni compartir
              datos de ubicación con terceros.</li>
            <li class="texto-privacidad"><strong>Información de terceros:</strong> Nuestras aplicaciones pueden interactuar con servicios
              externos como Google Cloud, con el fin de usar sus APIs como: Gmail, Maps y Geocoding en nuestras apps
              para mejorar sus funcionalidades, ademas se usan servicios como: Cloud Run y Cloud Build para alojar
              y desplegar nuestras APIs remotas.
              Ademas en algunos proyectos se podria usar AdMob para mostrar publicidad.
              Otro servicio externo que utilizamos es Aiven como servidor de nuestras bases de datos MySQL.
              Cada uno de estos servicios puede recopilar información de acuerdo con sus propias políticas de
              privacidad.</li>
          </ul>
        </div>

        <div>
          <h3 class="texto-privacidad">Cómo usamos la información</h3>
          <p class="texto-privacidad">La información recopilada se utiliza para:</p>
          <ul class="listas-privacidad">
            <li class="texto-privacidad">Mejorar la experiencia del usuario.</li>
            <li class="texto-privacidad">Analizar el rendimiento y uso de la aplicación.</li>
            <li class="texto-privacidad">Enviar notificaciones (solo si el usuario lo permite).</li>
            <li class="texto-privacidad">Mostrar publicidad personalizada (si aplica).</li>
          </ul>
        </div>

        <div>
          <h3 class="texto-privacidad">Compartir información</h3>
          <p class="texto-privacidad">No compartimos información personal con terceros, excepto en los siguientes casos:</p>
          <ul class="listas-privacidad">
            <li class="texto-privacidad">Con proveedores de servicios que nos ayudan a operar la app (análisis, publicidad).</li>
            <li class="texto-privacidad">Cuando sea requerido por ley.</li>
          </ul>
        </div>

        <div>
          <h3 class="texto-privacidad">Privacidad de menores</h3>
          <p class="texto-privacidad">Algunas de nuestras aplicaciones están dirigidas a menores de edad con fines educativos y didácticos.
            Estas aplicaciones recopilan únicamente información básica de perfil, como nombre de usuario y una imagen
            de perfil, sin solicitar ni almacenar datos sensibles (como audio, video, ubicación precisa o información
            de contacto). La información se utiliza exclusivamente dentro de la aplicación para personalizar la
            experiencia de aprendizaje y no se comparte con terceros. De ser el caso se solicita el consentimiento de
            los padres o tutores cuando sea requerido por la normativa aplicable.
            Si se detecta la recopilación de información adicional sin el consentimiento correspondiente, esta será
            eliminada de inmediato.</p>
        </div>

        <div>
          <h3 class="texto-privacidad">Derechos del usuario</h3>
          <p class="texto-privacidad">Los usuarios tienen derecho a:</p>
          <ul class="listas-privacidad">
            <li class="texto-privacidad">Solicitar acceso, corrección o eliminación de sus datos personales, para ello debe informarlo
              con un mensaje a esta dirección de correo electrónico: emprendimiento2020g7h2@gmail.com</li>
            <li class="texto-privacidad">Revocar permisos desde la configuración de su dispositivo móvil.</li>
            <li class="texto-privacidad">Eliminar su cuenta desde la aplicación.</li>
          </ul>
        </div>

        <div>
          <h3 class="texto-privacidad">Cambios en esta política</h3>
          <p class="texto-privacidad">Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Se notificará a
            los usuarios mediante la app o nuestra página web.</p>
        </div>
      </div>
    </section>
  </main>

  <div id="footer"></div>

  <script type="text/javascript" src="../js/logic.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      loadInclude("header", "../includes/header.html", { coverImage: "../assets/icons/cover.webp" });
      loadInclude("footer", "../includes/footer.html");
    });
  </script>
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
</body>

</html>